.button_page_about {
    display: block;
    width: 288px;
    border: 1px solid #1A1B22;
    background-color: #F5F6F7;
    margin-left: auto;
    margin-right: auto;
}

.button_page_about:hover {
    cursor: pointer;
  }

@media screen and (min-width: 768px) {
    .button_page_about {
        display: none;
    }
}