.header__menu-items {
  display: flex;
  justify-content: space-between;

  min-width: 148px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .header__menu-items {
    min-width: 189px;
  }
}