.button_place_search {
  width: 100%;
  border-style: none;
  background-color: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  color: #fff;
}

.button_place_search:hover {
  background-color: #347EFF;
}

.button_place_search:active {
  background-color: #2A65CC;
}

@media (max-width: 1023px) and (min-width: 544px) {
  .button_place_search {
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
  }
}

@media screen and (min-width: 1024px) {
    .button_place_search {
      position: absolute;
      top: 0;
      right: 0;
      width: 168px;
    }
  }
