.card__date {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #B6BCBF;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .card__date {
    margin-bottom: 16px;
  }
}