.carousel {
  display: block;
  margin-right: 16px;
  margin-bottom: 48px;
  box-sizing: border-box;
}

 @media (min-width: 320px) and (max-width: 500px) {
   .flickity-button {
     display: none;
   }
 }