@import url('./_border-color/header_border-color_black.css');
@import url('./_border-color/header_border-color_white.css');
@import url('./__title/header__title.css');
@import url('./__menu-items/header__menu-items.css');
@import url('./__menu-item/header__menu-item.css');

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-width: 320px;

  padding-left: 16px;
  padding-top: 16px;
  padding-right: 14px;
  padding-bottom: 16px;

  box-sizing: border-box;
}

@media (max-width: 1023px) and (min-width: 544px) {
  .header {
    padding-left: 40px;
    padding-top: 22px;
    padding-right: 42px;
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding-left: 104px;
    padding-top: 30px;
    padding-right: 101px;
    padding-bottom: 26px;
  }
}