.card__text {
  margin-top: 0;
  margin-bottom: 5px;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;

  color: #1A1B22;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .card__text {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .card__text {
    margin-bottom: 18px;
  }
}