.footer__items {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer__items {
    width: 360px;
    height: auto;
    flex-direction: row;
  }
}