@import url('./__img/card__img.css');
@import url('./__container/card__container.css');
@import url('./__date/card__date.css');
@import url('./__title/card__title.css');
@import url('./__text/card__text.css');
@import url('./__news-source/card__news-source.css');

.card {
  position: relative;
  max-width: 288px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .card {
      min-width: 224px;
      max-width: 400px;
    }
  }
