.git-history__contanier {
  width: 288px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .git-history__contanier {
    width: 688px;
  }
}

@media screen and (min-width: 1023px) {
  .git-history__contanier {
    width: 84.9%;
  }
}