.not-found__text {
  display: block;
  width: 356px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #B6BCBF;

 margin-right: auto;
 margin-left: auto;
 text-align: center;
}