.card__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-family: "Robotoslab", sans-serif;
  font-weight: normal;
  font-size: 22px;

  color: #1A1B22;
}

@media screen and (min-width: 1024px) {
  .card__title {
    margin-bottom: 16px;
    font-size: 26px;
  }
}