.loading__text {
  display: block;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #B6BCBF;

  text-align: center;
  margin-top: 98px;
  margin-bottom: 0;
}