.git-history__title {
  font-family: "Robotoslab", sans-serif;
  font-weight: normal;
  font-size: 30px;
  color: #1A1B22;

  margin-top: 0;
  margin-bottom: 16px;
  width: 90%;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .git-history__title {
    width: 336px;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .git-history__title {
    width: 336px;
    margin: 0;
  }
}