.card__date {
  display: block;
  margin-bottom: 16px;
  
  font-family: 'SourceSansPro', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #B6BCBF;
}

@media screen and (min-width: 768px) {
  .card__date {
    margin-bottom: 12px;
  }
}