.result__title {
  position: relative;
  left: 4px;
  width: 288px;
  
  font-family: "Robotoslab", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 30px;

  margin-top: 0;
  margin-bottom: 16px;

  color: #1A1B22;;
}

@media (max-width: 1023px) and (min-width: 544px) {
  .result__title {
    width: auto;
    position: static;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .result__title {
    width: auto;
    position: static;
    margin-bottom: 0;
    font-size: 40px;
  }
}