@import url('./__container/footer__container.css');
@import url('./__nav/footer__nav.css');
@import url('./__items/footer__items.css');
@import url('./__item/footer__item.css');
@import url('./__icons/footer__icons.css');
@import url('./__info/footer__info.css');

.footer {
  padding-top: 20px;
  padding-bottom: 22px;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 89.6%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85.3%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 18px;
  }
}


